* {
    box-sizing: border-box;
}

:root {
    --main-black:
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.clear-fix {
    clear: both;
}

.btn {
    background: #086963;
    border: #086963;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
}

.btn-button {
    color: rgb(255, 255, 255);
}

.user-section {
    background: #FCFCFC;
    float: left;
    height: 100%;
    padding-top: 30px;
    position: absolute;
    text-align: center;
    width: 25%;
}

.navigation {
    padding: 0;
    list-style-type: none;
}

.navigation li a {
    color: #333333;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

ul li a.active-link {
    color: #086963;
}

.news-feed {
    float: right;
    margin: 50px auto 0 auto;
    padding-right: 30px;
    width: 70%;
}

.article-form {
    background: #FCFCFC;
    border-radius: 4px;
    margin-bottom: 70px;
    padding: 15px;
}

.article-form input[type="text"],
.article-form textarea {
    border: 1px solid #333333;
    border-radius: 3px;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.article-form input[type="text"] {
    color: #A7A7A7;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}

.post {
    border-top: 0.5px solid #DADADA;
    position: relative;
    margin-top: 40px;
    padding: 20px 0;
}

.author-image {
    position: absolute;
    top: 40px;
}

.author-image img {
    height: auto;
    width: 50%
}

.article-title {
    padding: 0 75px;
}

.title {
    margin-bottom: 0;
}

.post-time,
.author-name {
    float: left;
    margin-right: 10px;
}

.post-time {
    font-size: 11px;
    line-height: normal;
    color: #A7A7A7;
}

.author-name {
    font-weight: bold;
    font-size: 11px;
    line-height: normal;
    color: #717171;
}

.article-text {
    padding: 0 75px;
    text-align: justify;
}

.manage-feed-header {
    color: #086963;
}

.manage-feed-header a {
    text-decoration: none;
    color: #086963;
    font-weight: 500;
}

.manage-feed-title {
    color: #999999;
    margin-bottom: 20px;
    font-size: 15px
}

.manage-feed-body {
    color: #333333;
    margin-bottom: 10px;
    height: 21px;
}

div.feed {
    width: 100%;
    font-family: Raleway;
    height: 50px;
    margin-top: 20px
}

div.user-feed-image {
    width: 10%;
    float: left;
}

div.user-feed-image img {
    width: 40px;
    height: 40px;
}

div.user-data {
    width: 75%;
    float: left;
    height: 50px;
    position: relative;
}

.user-data .user-name,
.user-link {
    height: 50px;
    position: absolute;
    width: 100%;
    top: -20px;
    color: #333333;
}

.user-link {
    top: 40%;
    text-decoration: none;
    color: #A7A7A7
}


div.user-action {
    text-align: center;
    width: 15%;
    float: left;
}

.unsubscribe-button {
    color: #FFFFFF !important;
    background: #00C7BB;
    padding: 10px;
    border: 1px solid #086963 !important;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.unsubscribe-button:hover {
    color: #00C7BB !important;
    background: #ffffff;
    border-color: #086963 !important;
    transition: all 0.4s ease 0s;
}

.subscribe-button {
    background: #FFFFFF !important;
    color: #00C7BB;
    padding: 10px;
    border: 1px solid #086963 !important;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    width: 100%
}

.subscribe-button:hover {
    background: #00C7BB !important;
    color: #ffffff;
    border-color: #ffffff !important;
    transition: all 0.4s ease 0s;
}

hr {
    border: 1px solid #DADADA;
}